* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  background-color: #c0ece9;
  height: 100%;
  overflow-x: hidden;
}
.firstFont {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 800;
}
.secondFont {
  font-family: 'Crimson Text', serif;
  font-weight: 500;
  color: #17252a;
}
.redFont {
  color: #ec0c0c;
}
.App {
  background: radial-gradient(circle, rgba(192,236,233,1) 0%, rgba(43,114,120,1) 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Intro Component */
.introBox {
  text-align: center;
  background-color: #feffff94;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.introText {
  color: #17252a;
}
.introWrap {
  height: 100vh;
  width: 100%;
  position: relative;
  /* background: rgb(43,114,120);
  background: radial-gradient(circle, rgba(43,114,120,1) 0%, rgba(192,236,233,1) 100%); */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}


/* Navbar Component */
.myNav {
  list-style-type: none;
}
#navID {
  height: 43px;
  z-index: 9999;
  background-color: #17252a;
  position: fixed;
  top: 0px;
}  
.listItem {
  display: inline-block;
}  
.navLink {
  text-decoration: none;
  font-weight: bold;
  color: #ec0c0c;
}
.navLink:hover {
  text-decoration: none;
  color: #feffff;
  font-weight: bolder;
}
.selected {
  font-weight: bold;
  color: #feffff;
}


/* Works Component */
.worksWrap {
  height: 100vh;
  padding-top: 43px;
}  
.workThumbnail {
  height: 80%;
  width: 80%;
  display: block;
}  
.sectionHead {
  padding: 1em;
}  
.workDescription {
  font-size: large;
  margin-bottom: 3em;
}  
.workTitle {
  font-weight: bold;
  text-decoration: none;
  color: black;
}  



/* Skills Component */
.skillsWrap {
  height: 100vh;
  padding-top: 43px;
}  
.myIcons {
  height: 3.3em;
  width: 3.3em;  
  display: block;
}  
.iconLabel {
  display: inline-block;
  font-size: 1.1em;
}  
.deviconIcon {
  font-size: 3.1em;
  display: block;
}  



/* About Component */
.aboutWrap {
  height: 100vh;
  padding-top: 43px;
  padding-bottom: 100px;
}





/* Footer */
footer {
  /* height: 35vh; */
  background-color: #17252a;
  padding-top: 2em;
  margin-top: auto;
}
.footerContent {
  text-align: center;
}
.titleLabel {
  display: block;
}
.footLinkList {
  list-style-type: none;
}
.footLinks {
  display: inline-block;
}
.footerName {
  font-weight: bolder;
}
.footLinkLabel {
  font-weight: bold;
  color: #feffff;
}
.footLinkIcon {
  height: 2em;
  width: 2em;
  margin: 10px;
}
.emailAdd {
  color: #feffff;
}
.copyright {
  display: block;
  background-color: #17252a;
  color: #feffff;
}







@media screen and (max-width: 750px) {
  .App {
    background: linear-gradient(to top, rgba(192,236,233,1) 0%, rgba(43,114,120,1) 100%);
    
  }
  .worksWrap {
    height: 100%;
  }
  .skillsWrap {
    height: 100%;
  }
  .aboutWrap {
    height: 100%;
  }
  footer {
    height: 40%;
  }
  .myIcons {
  height: 2em;
  width: 2em;  
  }  
  .deviconIcon {
    font-size: 2em;
  }  
}